* {
    margin: 0;
    padding: 0;
}

/* header-section */

.container {
    background-image: url("resources/Banner\ Image.png");
    max-width: 1840px;
    height: 80vh;
    background-repeat: no-repeat;
    color: white;
    margin: 80px 100px 0px 300px;
}

.container h1 , h4 {
    text-align: center;
    margin-right: 100px;
    
}

.container h4 {
    padding-top: 220px;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}


.container h1 {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.discount-section {
    text-align: center;
}

.discount-section img {
    height: 400px;
}

.discount-section h1 {
    color: red;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}

.discount-section p {
    color: red;
    font-size: small;
    padding-bottom: 10px;
}

.discount-section h3 {
    font-size: 28px;
}

.discount-section img {
    padding-top: 30px ;
}

/* welcome-section  */

.welcome-section {
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    max-width: 1840px;
    height: 30vh;
    margin-top: 100px;
    margin: 80px 100px 0px 300px;
    padding: 180px ;
    color: white;
}

.welcome-section h1 {
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
width: 600px;
}

.welcome-section p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 600px;
    color: #FDE5EC;
}

.welcome-section button {
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

/* place-date-time-section */

.place-date-time {
    max-width: 1840px;
    height: 30vh;
    background-color: #FDE5EC;
    margin: 80px 270px 50px 300px;
    border-radius: 10px;
    text-align: center;
    padding-top: 100px ;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-date-time span {
    color: red;
}

.place-date-time button {
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

/* new-best-offer-section */
.new-best-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 270px 50px 300px;
}

.new-best-offer .offer h3 {
    color: #F00;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.new-best-offer .offer h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.new-best-offer .offer p {
    width: 300px;
    color: rgba(7, 2, 17, 0.60);
}

.new-best-offer .greetings .year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.new-best-offer .greetings p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 300px;
    margin-bottom: 15px;
}

.new-best-offer .img {
    height: 400px;
    width: 400px;
    border: 5px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 5px 0 30px;
}

.new-best-offer .img .rounded-image {
    background-image: url("resources/Ellipse\ 1.png");
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* functional-section */

.functional-section {
    text-align: center;
    height: 20vh;
    margin-top: 100px;
}

.functional-section h5 {
    color: #070211;
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 5px;
}

.functional-section h1 {
    color: black;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.functional-section h1 span{
    color: red;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.functional-section p {
    color: rgba(7, 2, 17, 0.60);
}

/* subscribe-section */
.subscribe-section {
    text-align: center;
    background-color: #FDE5EC;
    max-width: 1840px;
    height: 50vh;
    margin: 80px 270px 50px 300px;
    border-radius: 10px;
    padding-top: 100px ;
}

.subscribe img {
    width: 100px;
    margin-bottom: 20px;
}

.subscribe h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.subscribe p {
    margin-bottom: 30px;
}


.subscribe .button input, button {
    padding: 20px 30px 20px 30px;
    border: none;
}

.subscribe .button input {
    border-right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.subscribe .button button {
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F00;
    color: #FFF;
}

/* portfolio-section */
.portfolio-website {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1840px;
    height: 110vh;
    margin: 80px 270px 50px 300px;
    gap: 30px;
}

.portfolio-website .images  img {
    width: 400px;
    padding: 10px;
}

.portfolio-text h3{
    color: #F00;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
}

.portfolio-text h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    
}

.images img:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

/* footer-section */

footer {
    background: #070211;
    color: white;
    width: 100%;
    height: 40vh;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 0 100px;
}

.footer-text .icons .first-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text .icons .second-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text .first-section {
    width: 250px;
}

.media-icons {
    text-align: center;
    margin-top: 20px;
}

hr {
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #45454D;
    margin: 25px 100px 0 100px ;
}


.media-icons img {
    width: 50px;
}

.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px 0 100px ;
}



